* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* MAIN PAGE START */

h1.the-title {

    font-weight: 600;
    font-size: 36px;
    color: #137777;
    background-color: #f1f9f8;
    text-align: right;
    padding: 40px 16% 40px 40px;

}

ul.recipe-list {
    padding-left: 0;
    list-style-type: none;
}

ul.recipe-list li {   

    font-size: 24px;
    padding: 20px 0 3% 16%;
    
}

li a {
    color: black;
}

/* first link */

.first-link {
    background-color: #f9d0ca;
}

li.first-link a {
    text-decoration-color: #f0806d;
}

li.first-link a:hover {
    text-decoration-color: #f0310f;
    color: #a63a26;
}

/* second link */

.second-link {
    background-color: #f7dbc3;
}

li.second-link a {
    text-decoration-color: #f2a561;
}

li.second-link a:hover {
    text-decoration-color: #fa8b04;
    color: #c36f08;
}

/* third link */

.third-link {
    background-color: #f3efa3;
}

li.third-link a {
    text-decoration-color: #f4d434;
}

li.third-link a:hover {
    text-decoration-color: #debd17;
    color: #b09302;
}


/* MAIN PAGE END */

/* RECIPE PAGES */

/* .recipe-container {
    position: relative;
} */

.recipe-title {
    padding: 40px 0 40px 16%;
    font-weight: 600;
}

img {
    margin: 40px 0 20px 16%; /* margin instead of padding because then corners are not right*/
    border-radius: 20px;
}

.recipe-text h2 {
    padding: 20px 20px 20px 16%;
    font-weight: 600;
}

.recipe-text h3 {
    padding: 0px 0px 20px 16%;
    font-weight: 600;
}

.recipe-text p {
    padding-left: 16%;
    margin-right: 40%;
    font-size: 18px;
}

.recipe-text ul {
    padding: 0px 0px 0px 17%;
    font-size: 18px;
}

.recipe-text li > p {
    padding: 0 0 10px 0;
}

.recipe-text .steps {
    padding: 0px 0px 40px 17%;
    font-size: 18px;
}

.ingredient-block ul:first-of-type {
    padding-bottom: 20px;
}

.recipe-title.one {
    background-color: #f9d0ca;
    color: #a63a26;
}

.recipe-title.two {
    background-color: #f7dbc3;
    color: #c36f08;
}

.recipe-title.three {
    background-color: #f3efa3;
    color: #b09302;
}
