* {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

/* MAIN PAGE START */

h1.the-title {

    font-weight: 600;
    font-size: 36px;
    color: #137777;
    background-color: #f1f9f8;
    text-align: center;
    padding: 40px;

}

ul.recipe-list {
    padding-left: 0;
    list-style-type: none;
}

ul.recipe-list li {   

    font-size: 22px;
    text-align: center;
    padding: 20px;
    
}

li a {
    color: black;
}

/* first link */

.first-link {
    background-color: #f9d0ca;
}

li.first-link a {
    text-decoration-color: #f0806d;
}

li.first-link a:hover {
    text-decoration-color: #f0310f;
}

/* second link */

.second-link {
    background-color: #f7dbc3;
}

li.second-link a {
    text-decoration-color: #f2a561;
}

li.second-link a:hover {
    text-decoration-color: #fa8b04;
}

/* third link */

.third-link {
    background-color: #f3efa3;
}

li.third-link a {
    text-decoration-color: #f4d434;
}

li.third-link a:hover {
    text-decoration-color: #debd17;
}


/* MAIN PAGE END */
